<!DOCTYPE html>
<html lang="en">
<head>
    <title>HelloPage</title>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="static/styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/styles/main_styles.css">

</head>
<body>


<!-- Шапка -->
<header class="header d-flex align-items-center">

    <!-- Лого -->
    <div class="logo mr-auto">
        <a href="">Develop <span>MTUCI</span></a>
    </div>

    <!-- Кнопки навигации -->
    <nav class="main_nav justify-self-end text-right">
        <ul>
            <li><a href="https://github.com/volzock/UserFinder" target="_blank">GitHub</a></li>
            <li><a href="https://disk.yandex.ru/edit/d/EffQ4yEe3VJaVnq-qhDXtiPegnqahzm72s0qoIz-cKg6X2JLMUplQzYyUQ"
                   target="_blank">Документация</a></li>
            <li><a href="/main">Загрузить данные</a></li>
        </ul>
    </nav>

</header>


<!-- Главная -->
<div class="home">
    <div class="home_background_container prlx_parent">
        <div class="home_background prlx" style="background-image:url(static/images/BG.jpg)"></div>
    </div>


    <!-- Главная стиль -->
    <div class="hero_slider_item item_1 d-flex flex-column align-items-center justify-content-center">
        <span></span>
        <span></span>
        <span><center>User</br>Finder</center></span>
        <span>Биометрия лица</span>
    </div>


    <!-- Пустота -->
    <div class="services">
    </div>


    <!-- 1 слайд -->
    <div class="cta" style="bottom: 150px">
        <div class="cta_background" style="background-image:url(static/images/BGSlides.jpg)"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 offset-lg-1 order-lg-2">
                    <div class="cta_image">
                        <img src="static/images/Biometrics_1.jpeg" alt="">
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-17">
                    <div class="col-lg-20 order-lg-1">
                        <div class="cta_content">
                            <h1>Быстрое распознование лица</h1>
                            <p>В нвшем проекте используется OpenCV. И благодаря этому фреймворку OpenCV обнаружение
                                лица происходит четко и быстро.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Пустота -->
    <div class="services">
    </div>


    <!-- 2 слайд -->
    <div class="cta" style="bottom: 200px">
        <div class="cta_background" style="background-image:url(static/images/BGSlides.jpg)"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 offset-lg-1 order-lg-2">
                    <div class="cta_image">
                        <img src="static/images/Biometrics_2.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-17">
                    <div class="col-lg-20 order-lg-1">
                        <div class="cta_content">
                            <h1>Надежность превыше всего</h1>
                            <p>Биометрическая безопасность идентифицирует людей путем проверки их физических или
                                поведенческих характеристик. В настоящее время это самый надежный и точный метод
                                физической безопасности, который используется для проверки личности.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Пустота -->
    <div class="services" style="bottom: 225px">
    </div>

</div>


<script src="static/js/jquery-3.2.1.min.js"></script>
<script src="static/js/custom.js"></script>

<script src="static/plugins/greensock/TweenMax.min.js"></script>
<script src="static/plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="static/plugins/greensock/animation.gsap.min.js"></script>


</body>

</html>
