{% extends 'base.html' %}

{% block body %}
    <a href="{{ context.users_url }}"> see all users </a> |
    <a href="{{ context.statistics_url }}"> see all statistics </a>
    <br>
    <hr>
    <div class="center">
        <form method="POST" action="{{ context.url_user }}" enctype="multipart/form-data">
            <h1> Add user for detecting </h1>
            <label for="image">Choose file to upload</label>
            <input type="file" name="image" id="image" multiple>
            <label for="user">Choose user</label>
            <input type="text" name="user" id="user">
            <button>Submit</button>
        </form>
    </div>
    <hr>
    <br>
    <div class="center">
        <form method="POST" action="{{ context.processing_url }}" enctype="multipart/form-data">
            <h1> Add user for detecting </h1>
            <label for="camera_ip">Camera IP</label>
            <input type="text" name="camera_ip" id="camera_ip">
            <button>start video processing</button>
        </form>
    </div>
    <br>
    <hr>
{% endblock %}